@using Practicas.Resources
@model Practicas.Models.NewUserModel

@{
    ViewBag.Title = "CreateNewUser";
}

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name)
    @Html.ValidationMessageFor(m => m.Name)
    <br />
    @Html.LabelFor(m => m.Lastname)
    @Html.TextBoxFor(m => m.Lastname)
    @Html.ValidationMessageFor(m => m.Lastname)
    <br />
    @Html.LabelFor(m => m.Nickname)
    @Html.TextBoxFor(m => m.Nickname)
    @Html.ValidationMessageFor(m => m.Nickname)
    <br />
    @Html.LabelFor(m => m.Password)
    @Html.TextBoxFor(m => m.Password)
    @Html.ValidationMessageFor(m => m.Password)
    <br />
    @Html.LabelFor(m => m.Country)
    @Html.TextBoxFor(m => m.Country)
    @Html.ValidationMessageFor(m => m.Country)
    <br />
    @Html.LabelFor(m => m.Birthday)
    @Html.TextBoxFor(m => m.Birthday)
    @Html.ValidationMessageFor(m => m.Birthday)
    <br />
    @Html.LabelFor(m => m.Address)
    @Html.TextBoxFor(m => m.Address)
    @Html.ValidationMessageFor(m => m.Address)
    <br />
    <select name="rol" multiple>
        <option value="Admin">Administrador</option>
        <option value="User">Usuario</option>
        <option value="Client">Cliente</option>
    </select>
    <br />
    <button type="submit">Save</button>
}
<br />
<a href="Login">Volver</a>
