@using Practicas.Resources
@model Practicas.Models.NewUserModel

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name)
    @Html.ValidationMessageFor(m => m.Name)

    @Html.LabelFor(m => m.Lastname)
    @Html.TextBoxFor(m => m.Lastname)
    @Html.ValidationMessageFor(m => m.Lastname)

    @Html.LabelFor(m => m.Nickname)
    @Html.TextBoxFor(m => m.Nickname)
    @Html.ValidationMessageFor(m => m.Nickname)

    @Html.LabelFor(m => m.Password)
    @Html.TextBoxFor(m => m.Password)
    @Html.ValidationMessageFor(m => m.Password)

    @Html.LabelFor(m => m.Country)
    @Html.TextBoxFor(m => m.Country)
    @Html.ValidationMessageFor(m => m.Country)

    @Html.LabelFor(m => m.Birthday)
    @Html.TextBoxFor(m => m.Birthday)
    @Html.ValidationMessageFor(m => m.Birthday)

    @Html.LabelFor(m => m.Address)
    @Html.TextBoxFor(m => m.Address)
    @Html.ValidationMessageFor(m => m.Address)
    <button type="submit">Save</button>
}

    <a href="Index">Volver</a>
