@using Practicas.Resources
@model IEnumerable<Practicas.Models.NewUserModel>

@{
    ViewBag.Title = "Index";
}





<h2>Users</h2>
 
@if (Model != null)
{
    <table class="table table-bordered">
        <thead>

       <tr>
           <td>@CommonResources.Name</td>
           <td>@CommonResources.Lastname</td>
           <td>@CommonResources.Nickname</td>
           <td>@CommonResources.Password</td>
           <td>@CommonResources.Country</td>
           <td>@CommonResources.Birthday</td>
           <td>@CommonResources.Address</td>
       </tr>
       
      

        </thead>

        @foreach (var user in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem =>user.Name)</td>
                <td>@Html.DisplayFor(modelItem => user.Lastname)</td>
                <td>@Html.DisplayFor(modelItem => user.Nickname)</td>
                <td>@Html.DisplayFor(modelItem => user.Password)</td>
                <td>@Html.DisplayFor(modelItem => user.Country)</td>
                <td>@Html.DisplayFor(modelItem => user.Birthday)</td>
                <td>@Html.DisplayFor(modelItem => user.Address)</td>
            </tr>
        }
       
    </table>
}


    <form method="post" id="formulario">
        <div>
            <h1>@CommonResources.Login</h1>
            <label>Usuario &nbsp;</label>
            <input type="text" name="camponombre" id="camponombre" placeholder="Introduzca el nombre" required /><br />
            <label>Password</label>
            <input type="password" name="campopw" id="campopw" placeholder="Contraseña" required /><br />
            <button type="submit" id="btnenviar" onclick="prueba();" class="bg-success">Enviar</button>
        </div>
    </form>
<a href="CreateNewUser">Nuevo usuario</a>

